# Google Gmail API (Authentication & Fetching) 
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# Frontend (UI)
streamlit


#  LLM API (Summarizer & Drafter) 
groq
python-dotenv

#  AI & Deep Learning (Classifier) 
transformers
torch